@media screen and (min-width: 425px) {
      .Blok-1 {
        display: block;
        padding: 1% 0 0 0;
        white-space: nowrap;
        overflow-y: hidden;
    }
      .Person-0 {
        position: relative;
    }
    body  .Person-0 .b-catalog_entry {
        box-shadow: none;
        transition: none;
        transform: none;
    }
      .Person-0 .b-catalog_entry .cover .image-cutter img {
        opacity: 0;
        visibility: hidden;
    }

      .Person-0 .c-column {
        display: inline-block;
        margin: 0 !important;
        float: none !important;
        clear: none !important;
        padding: 0.35rem;
        max-width: none;
        background: none;
        width: calc(100% / 3);
    }
      .Person-0 .b-catalog_entry .cover .image-decor .image-cutter {
        max-height: 1px !important;
        max-width: 100% !important;
        padding: 0 0 140% 0;
        margin: 0;
        background-image: none;
        background-size: contain;
        box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 15%);
        border-radius: 0.5rem;
    }
      .Person-0 .b-catalog_entry .cover .title.two_lined {
        position: absolute;
        display: grid;
        max-width: 90px;
        height: 17px;
        margin: 0 auto;
        padding: 0 1rem;
        bottom: 1rem;
        right: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        white-space: normal;
        pointer-events: none;
        line-height: 1.6;
        font-size: 11.5px;
        color: rgba(var(--white-color), var(--hundred));
        text-shadow: 1px 0 2px rgb(0 0 0 / 80%), -1px 0 2px rgb(0 0 0 / 80%), 0 1px 2px rgb(0 0 0 / 80%), 0 -1px 2px rgb(0 0 0 / 80%);
        z-index: 12;
        opacity: 1;
        background: none;
        transition: opacity 0.28s ease;
        -webkit-transition: opacity 0.28s ease;
    }
      .Person-0 .c-column:hover > .cover .title {
        opacity: 0;
    }

      .Person-0 .b-catalog_entry a .image-cutter::after {
        position: absolute;
        content: "";
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 10;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        border-radius: 0.4rem;
        pointer-events: none;
        image-rendering: auto;
        filter: contrast(102%);
        background-repeat: no-repeat;
        background-color: #333;
        box-shadow: inset 0 0 15px 5px rgb(0 0 0 / 50%);
        will-change: transform;
        transition: box-shadow 0.45s ease;
        -webkit-transition: box-shadow 0.45s ease;
    }
      .Person-0 .b-catalog_entry:hover > a .image-cutter::after {
        box-shadow: none;
    }

      .Person-0 .cover .image-decor::before {
        position: absolute;
        display: flex;
        top: 1rem;
        right: 0.4rem;
        z-index: 15;
        opacity: 0;

        transition: opacity 0.2s;
        -webkit-transition: opacity 0.2s;
    }
      .Person-0 .c-column:hover .image-decor::before {
        opacity: 1;
    }

      .Person-0 .image-cutter::before,
      .Person-0 .cover .image-decor::after {
        position: absolute;
        display: grid;
        content: "";
        text-shadow: 1px 0 2px rgb(0 0 0 / 78%), -1px 0 2px rgb(0 0 0 / 78%), 0 1px 2px rgb(0 0 0 / 78%), 0 -1px 2px rgb(0 0 0 / 78%),
            1px 0 2px rgb(0 0 0 / 78%), -1px 0 2px rgb(0 0 0 / 78%), 0 1px 2px rgb(0 0 0 / 78%), 0 -1px 2px rgb(0 0 0 / 78%);
        opacity: 0;
        line-height: 1.45;
        z-index: 20;
        pointer-events: none;
        font-weight: bold;
        transition: opacity 0.2s;
        -webkit-transition: opacity 0.2s;
    }
      .Person-0 .image-cutter::before {
        font-size: 13px;
        color: #bbb;
        top: 0.5rem;
        left: 0.5rem;
    }
      .Person-0 .c-column:hover .image-cutter::before {
        opacity: 1;
    }

    
      .Person-0 .cover .image-decor::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.38rem 0.38rem 0.5rem;
        font-size: 14px;
        overflow: hidden;
        justify-content: center;
        align-items: flex-end;
        white-space: normal;
        text-align: center;
        color: #bbb;
    }
      .Person-0 .c-column:hover .image-decor::after {
        opacity: 1;
    }
    
    
}

@media screen and (min-width: 500px) {
      .Person-0 .c-column {
        width: calc(100% / 4);
    }
}
@media screen and (min-width: 767px) {
      .Person-0 .c-column {
        width: calc(100% / 5);
    }
      .Blok-1 {
        white-space: normal;
        overflow-y: inherit;
    }
}
@media screen and (min-width: 880px) {
      .Person-0 .c-column {
        width: calc(100% / 6);
    }
}
@media screen and (min-width: 1024px) {
      .Person-0 .c-column {
        width: calc(100% / 7);
    }
}
@media screen and (min-width: 1200px) {
      .Person-0 .c-column {
        width: calc(100% / 8);
    }
}




