

 .qa-panel {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background: none;
    width: 62px;

    padding-top: 0px;
    padding-bottom: 0%;
    left: 3%;
    top: 150px;
    opacity: 0.8;
    z-index: 50;
    border-radius: 3.25rem;
    transition: 0.4s ease;
    background-color: rgba(var(--white-color), 0);
    pointer-events: none;
    
}

 .qa-panel:hover {
    opacity: 1;
    padding-top: 62px;
    padding-bottom: 0%;
    background-color: rgba(var(--light-color), 0.1);
    pointer-events: auto;
    transition: 0.4s ease;
}
 
 .qa-panel:hover:before {
    height: 255px;
    opacity: 1;
}

 .qa-panel:after {
    content: "\\_f009";
    font: normal normal normal 40px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    top: -0.1rem;
    z-index: 50;
    border-radius: 3.25rem;
    border: 2px solid rgba(var(--bright-color), 0.1);
    transition: 0.8s all;
    background: rgba(var(--menu-back), 0.9);
    pointer-events: auto;
}

 .qa-panel:hover:after {
    background-color: rgba(var(--menu-back), 0.9);
    animation: none;
    transition: 0.4s all;
}
 .qa-panel .b-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0px;
    transform: scale(0);
    transition: 0.8s all;
    pointer-events: none;
}
 .qa-panel:hover .b-link {
    transform: scale(1);
    transition: 0.4s all;
    pointer-events: auto;
    height: 66px;
}
.qa-link {
    width: 45px;
    height: 45px;
    top: 15%;
    opacity: 0;
    border-radius: 3.25rem;
    transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
}

 .qa-panel:hover .qa-link {
    opacity: 1;
    background-color: rgba(var(--light-color), 0.5);
}

.qa-link:hover {
    animation: none;
    transition: 0.4s all;
}
.qa-link:before {
    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    top: 0;
    position: absolute;
    height: 20px;
    
    left: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    background: rgba(23, 23, 23, 0.6) !important;
    padding: 8px 13px;
    font-size: 13px;
    box-shadow: 0px 0px 5px rgba(var(--shadows-color), 0.1);
    transition: 0.1s ease;
    color: rgba(var(--white-color), var(--hundred));
    border-radius: 19px;
    transform: scale(0);
    transition: 0.5s ease-in-out;
    
}
.qa-link:hover:before {
    
    left: 4rem;
    transition: 0.15s ease-in-out;
    transform: scale(1);
}


@media screen and (max-width: 1200px) {
     .qa-panel {
        display: none;
    }
}

.qa01 {
    background: url("//kawai.shikimori.one/system/clubs/x48/811.png?1480939423") no-repeat 50% 50% / 85%;
}
.qa02 {
    background: url("//desu.shikimori.one/system/clubs/main/1678.png?1557829461") no-repeat 50% 50% / 102%;
}
.qa03 {
    background: url("//i.ibb.co/ZGcbTpy/3d-cube-transparent-png-47035-free-icons-and-png-backgrounds-3d-cube-png-1246-1113.png") no-repeat 50% 50% / 100%;
}

.qa01:before {
    content: "Css Club";
}
.qa02:before {
    content: "Edesign / shikimori";
}
.qa03:before {
    content: "Сборщик";
}
