.id-01 {
    display: inline-block;
    position: relative;
    width: calc(100% / 1 - 1 * 1%);
    margin: 0.5rem 0.5%;
    max-width: 1000px;
    border-radius: 0.45rem;
    overflow: hidden;
    border: none;
    box-shadow: 0 3px 9px rgba(61, 195, 210, 0.2);
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.id-01_control-block {
    display: block;
    position: relative;
    padding-bottom: 56%;
    pointer-events: none;
    font-size: 0;
}
.id-01::before,
.id-01::after {
    content: "";
    position: absolute;
    width: 4.0625rem;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
    transition: 0.25s ease;
}
.id-01__buttons-2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.25rem 0;
    z-index: 2;
    pointer-events: none;
}
.id-01__button {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.25rem;
    background: rgba(var(--dark-color), 0.3);
    border-radius: 50%;
    pointer-events: auto;
    cursor: pointer;
}
.id-01__button::before,
.id-01__button::after {
    display: flex;
    position: absolute;
    content: "î ¿";
    top: 0;
    bottom: 0;
    width: 4.0625rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: 2.8125rem;
    color: rgb(28, 28, 28);
    text-indent: 0.625rem;
    font-weight: normal;
    font-family: "shikimori";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    transition: 0.25s ease;
}
.id-01 .b-image {
    vertical-align: unset;
    width: 100%;
    height: 100%;
}

.id-01 img.b-poster,
.id-01 .b-image.b-poster img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: none !important;
    border-radius: 0 !important;
    transform: none;
    filter: none;
}
.id-01__slide {
    position: absolute;
    width: 100.3%;
    height: 100%;
    transition: 0.7s ease-in-out;
    will-change: transform;
}
.id-01__button.active {
    background: rgba(var(--bright-color), 0.8);
}

.id-01__slide.hidden {
    display: block !important;
    transform: translate(12px, 50%);
    opacity: 0;
}
.id-01__slide:not(.hidden) ~ .id-01__slide.hidden {
    transform: translateX(100%);
    opacity: 1;
}

.id-01:hover::before,
.id-01:hover::after,
.id-01:hover .id-01__button::before,
.id-01:hover .id-01__button::after {
    opacity: 0.8;
}

.id-01__button::before,
.id-01::before {
    left: 0;
    transform: scale(-1, 1);
}

.id-01::after,
.id-01__button::after {
    right: 0;
}

.id-01__button::before {
    z-index: 7;
}

.id-01__button.active::before,
.id-01__button.active ~ .id-01__button::before,
.id-01__button.active + .id-01__button::after,
.id-01__button:first-child::after {
    z-index: 4;
}

.id-01__button.active:first-child::after {
    z-index: 0;
}
@media screen and (min-width: 340px) {
    .id-01 {
     width: calc(100% / 2 - 1 * 1%);
  }
}
@media screen and (min-width: 465px) {
    .id-01 {
     width: calc(100% / 3 - 1 * 1%);
  }
}
@media screen and (min-width: 665px) {
    .id-01 {
     width: calc(100% / 4 - 1 * 1%);
  }
}
@media screen and (min-width: 900px) {
    .id-01 {
     width: calc(100% / 5 - 1 * 1%);
  }
}
