@media screen and (min-width: 180px) {
    #profiles_show  .Blok-2 {
        display: block;
        padding: 1% 0 3%;
        max-width: 1400px;
        margin: auto;
    }
    #profiles_show  .Person-1 {
        position: relative;
        pointer-events: none;
        height: 0;
        padding-bottom: 11.88%;
    }
    body#profiles_show .Person-1 .b-catalog_entry {
        box-shadow: none!important;
        transition: none!important;
        transform: none!important;
    }
    #profiles_show  .Person-1 .b-catalog_entry .cover .image-cutter img {
        display: none;
        visibility: hidden;
    }
    #profiles_show  .Person-1 .b-catalog_entry .cover .image-decor {
        margin: -3.85%;
        z-index: 1;
        transition: none;
    }
    #profiles_show  .Person-1 .c-column {
        display: inline-block;
        margin: 0 !important;
        float: none !important;
        clear: none !important;
        padding: 0;
        max-width: none;
        background: none;
        pointer-events: none;
        width: calc(100% / 7);
    }
    #profiles_show  .Person-1 .b-catalog_entry .cover .image-decor .image-cutter {
        clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
        height: 0;
        padding-bottom: 100%;
        background: rgba(var(--light-color), 0.15);
        background-size: contain;
        pointer-events: auto;
    }
    #profiles_show  .Person-1 .c-column:hover .image-decor .image-cutter {
        box-shadow: none;
    }
    #profiles_show .Person-1 .b-catalog_entry .cover .title.two_lined {
        position: absolute;
        display: grid;
        align-items: center;
        text-align: center;
        justify-content: center;
        white-space: normal;
        pointer-events: none;
        margin: 0 auto;
        padding: 0 1rem;
        bottom: 1.8rem;
        right: 0;
        left: 0;
        max-width: 131px;
        height: 23px!important;
        font-size: 16px;
        color: #f58ebb;
        text-shadow: 1px 0 2px rgb(0 0 0 / 78%), -1px 0 2px rgb(0 0 0 / 78%), 0 1px 2px rgb(0 0 0 / 78%), 0 -1px 2px rgb(0 0 0 / 78%),
            1px 0 2px rgb(0 0 0 / 78%), -1px 0 2px rgb(0 0 0 / 78%), 0 1px 2px rgb(0 0 0 / 78%), 0 -1px 2px hsl(0deg 0% 0% / 78%);
        z-index: 10;
        opacity: 0;
        line-height: 1.6;
        transition: opacity 0.2s;
        -webkit-transition: opacity 0.2s;
    }
   
    #profiles_show .Person-1 .b-catalog_entry:hover .cover .title.two_lined {
        opacity: 1;
    }
    #profiles_show .Person-1:nth-child(odd) .c-column {
        left: calc(100% / 7 * 0.5);
    }
    #profiles_show  .Person-1:nth-child(even) .c-column {
        left: calc(100% / 7 * 0);
    }

    #profiles_show  .Person-1 .b-catalog_entry a .image-cutter::after {
        position: absolute;
        display: flex;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 10;
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        border-radius: 0.5rem;
        background-repeat: no-repeat !important;
        background-color: #333;
        pointer-events: none;
        filter: contrast(102%);
        image-rendering: auto;
        box-shadow: inset 0 0 15px 5px rgb(0 0 0 / 50%);
        transition: box-shadow 0.45s ease;
        -webkit-transition: box-shadow 0.45s ease;
        clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    }
    #profiles_show  .Person-1 .b-catalog_entry:hover > a .image-cutter::after {
        box-shadow: none;
        filter: blur(4px);
    }
    #profiles_show  .Person-1 .b-catalog_entry .cover .title.two_lined {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    #profiles_show  .Person-1 .b-catalog_entry a .image-cutter::after {
        width: calc(100% - 7px);
        height: calc(100% - 7px);
    }
}
@media screen and (min-width: 650px) {
    #profiles_show  .Person-1 .b-catalog_entry a .image-cutter::after {
        width: calc(100% - 9px);
        height: calc(100% - 9px);
    }
}
@media screen and (min-width: 800px) {
    #profiles_show  .Person-1 .b-catalog_entry a .image-cutter::after {
        width: calc(100% - 12px);
        height: calc(100% - 12px);
    }

    #profiles_show  .Person-1 .b-catalog_entry .cover .title.two_lined {
        display: block;
    }
}
@media screen and (min-width: 1024px) {
    #profiles_show  .Person-1 .b-catalog_entry a .image-cutter::after {
        width: calc(100% - 15px);
        height: calc(100% - 15px);
    }
}
