@media screen and (min-width: 1200px) {
   #profiles_show .b-clubs {
      flex-wrap: unset;
      min-height: 70px;
      transition: margin 0s, padding 0s, width 0s, height 0s;
   }
   #profiles_show .c-history .entry {
      margin-bottom: 0.5rem !important;
   }
   #profiles_show .l-top_menu-v2 {
      position: sticky;
      z-index: 25;
      opacity: 0.5;
      transition: 1s all, width 0s, height 0s, margin 0s, padding 0s, top 0s, left 0s, right 0s;
   }
   #profiles_show .l-top_menu-v2:hover {
      opacity: 1;
      transition: 0.5s all, width 0s, height 0s, margin 0s, padding 0s, top 0s, left 0s, right 0s;
   }

   body#profiles_show .l-page > div {
      position: relative;
      width: 100%;
      overflow: hidden;
   }
   body#profiles_show.x1200 .l-page,
   body#profiles_show .l-page {
      margin: -2.875rem auto 0 auto !important;
      padding: 0 !important;
      max-width: 100%;
      transition: none;
      animation: none;
      box-shadow: inset 0px 0px 20px 2px rgba(var(--menu-back), 0.8) !important;
      border-radius: 0px;
   }
   #profiles_show .lifetime {
      padding: 0 0.3125rem 0;
      margin-bottom: 1.5625rem;
   }
   body#profiles_show .profile-head .c-history {
      margin: 0 0 0 0 !important;
   }
   #profiles_show .c-left,
   #profiles_show.x1200 .c-column.c-left,
   #profiles_show .cc-2 .c-column .cc-2a.m30,
   #profiles_show .c-history,
   #profiles_show .c-history.x2,
   #profiles_show .c-history.x3,
   #profiles_show.x1000 > .l-page div .c-history.x2,
   #profiles_show.x1000 > .l-page div .c-history.x3,
   #profiles_show .c-info .c-lists-info,
   #profiles_show.x1000 > .l-page div .c-info .c-lists-info {
      position: absolute;
      height: 265px;
      min-height: 265px;
      padding: 10px 12px;
      will-change: transform;
      z-index: 11;
      top: 0;
      left: 0;
      transition: 0.8s ease-in-out, margin 0s, padding 0s, width 0s, transform 0s, height 0s, background 0s, border 0s, border-radius 0s, box-shadow 0s, font-size 0s, left 0s, right 0s, bottom 0s, -webkit-0.8s ease-in-out;
      margin: 0 0 0 0 !important;
      float: none !important;
      border-radius: 16px;
      background: rgba(var(--menu-back), 0.8);
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
   }
   #profiles_show .c-left:hover,
   #profiles_show.x1200 .c-column.c-left:hover,
   #profiles_show .cc-2 .c-column .cc-2a.m30:hover,
   #profiles_show .c-history:hover,
   #profiles_show .c-history.x2:hover,
   #profiles_show .c-history.x3:hover,
   #profiles_show.x1000 > .l-page div .c-history:hover,
   #profiles_show.x1000 > .l-page div .c-history.x2:hover,
   #profiles_show.x1000 > .l-page div .c-history.x3:hover,
   #profiles_show .c-info .c-lists-info:hover,
   #profiles_show.x1000 > .l-page div .c-info .c-lists-info:hover {
      top: 4.5rem;
      z-index: 15;
   }
   #profiles_show .c-left,
   #profiles_show.x1200 .c-column.c-left {
      width: 550px !important;
      max-width: 550px;
      left: 26rem;
      top: -18rem;
   }
   #profiles_show .cc-2 .c-column .cc-2a.m30 {
      left: 33rem;
      top: -18rem;
      width: 320px;
   }
   #profiles_show .c-history,
   #profiles_show .c-history.x2,
   #profiles_show .c-history.x3,
   #profiles_show.x1000 > .l-page div .c-history.x2,
   #profiles_show.x1000 > .l-page div .c-history.x3 {
      width: 320px;
      max-width: 320px;
      top: -18rem;
      left: 41.095rem;
   }
   #profiles_show .c-info .c-lists-info,
   #profiles_show.x1000 > .l-page div .c-info .c-lists-info {
      left: 47.484rem;
      top: -18rem;
      width: calc(80% - 44.2%);
      max-width: 550px;
      text-align: center;
      background: none !important;
      box-shadow: none !important;
   }
   #profiles_show .c-column.c-left::before,
   #profiles_show .cc-2 .c-column .cc-2a.m30::before,
   #profiles_show .c-history::before,
   #profiles_show .c-info .c-lists-info::before {
      position: absolute;
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;
      background-color: transparent;
      text-shadow: 0 1px 2px #000000;
      box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.24);
      top: auto;
      left: 1rem;
      bottom: -6rem;
      height: 28px;
      padding: 0;
      opacity: 0.6;
      line-height: 2;
      font-size: 13px;
      color: #fff;
      z-index: 15;
      transition: 0.4s ease-in-out, margin 0s, padding 0s, -webkit-0.4s ease-in-out;
   }
   #profiles_show .c-column.c-left::before {
      width: 110px;
      content: "Активность";
      border-bottom-left-radius: 0.5rem;
   }
   #profiles_show .cc-2 .c-column .cc-2a.m30::before {
      width: 128px;
      content: "Друзья и Клубы";
   }
   #profiles_show .c-history::before {
      width: 100px;
      content: "История";
   }
   #profiles_show .c-info .c-lists-info::before {
      width: 128px;
      content: "Аниме & Манга";
      border-bottom-right-radius: 7px;
   }
   #profiles_show .c-column.c-left:hover::before,
   #profiles_show .cc-2 .c-column .cc-2a.m30:hover:before,
   #profiles_show .c-history:hover:before,
   #profiles_show .c-info .c-lists-info:hover:before {
      bottom: -1.7rem;
      z-index: 16;
   }
   #profiles_show .c-column.c-left::after,
   #profiles_show .cc-2 .c-column .cc-2a.m30::after,
   #profiles_show .c-history:after,
   #profiles_show .c-info .c-lists-info::after {
      position: absolute;
      display: block;
      content: "";
      height: 26rem;
      background: none;
      top: -2rem;
      z-index: 15;
      transition: 0.8s ease-in-out, margin 0s, -webkit-0.8s ease-in-out;
   }
   #profiles_show .c-column.c-left:hover::after,
   #profiles_show .cc-2 .c-column .cc-2a.m30:hover::after,
   #profiles_show .c-history:hover::after,
   #profiles_show .c-info .c-lists-info:hover::after {
      height: 2.3rem;
      transition: 1s ease-in-out, margin 0s, padding 0s, -webkit-1s ease-in-out;
      z-index: 16;
   }
   #profiles_show .c-column.c-left::after {
      left: auto;
      width: 114px;
   }
   #profiles_show .cc-2 .c-column .cc-2a.m30::after {
      left: 1rem;
      width: 128px;
   }
   #profiles_show .c-history::after {
      width: 100px;
      left: 1rem;
   }
   #profiles_show .c-info .c-lists-info::after {
      width: 132px;
      left: 1rem;
   }
   body#profiles_show .b-catalog_entry {
      background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.24) 100%);
   }
   body#profiles_show .b-catalog_entry:hover {
      box-shadow: -20px 20px 0 -17px rgba(62, 62, 62, 0.85), 20px -20px 0 -17px #383838, 20px 20px 0 -20px rgba(0, 0, 0, 0.8), 0 0 0 2px rgba(0, 0, 0, 0.8);
   }
   #profiles_show .profile-content .about.block {
      display: inline-block;
      width: 100%;
      margin-top: 0;
      z-index: 9;
   }
   #profiles_show .profile-content .block {
      display: inline-block;
      width: 100%;
      margin: 0;
      z-index: 8;
   }
   body#profiles_show .profile-content .cc-2.block {
      margin-bottom: 0;
   }
   #profiles_show .profile-content .c-column.c-right .block {
      display: inline-block;
      width: calc(100% - 0px);
   }
   #profiles_show .profile-content .cc-2.block .c-column.c-right .block {
      right: 0px !important;
   }
   #profiles_show .profile-content {
      overflow: visible;
      width: 100%;
      right: auto;
      margin: 0 auto 0 auto !important;
      float: none;
      padding: 0 15px 0 15px;
      box-shadow: inset 0px 37px 29px -18px rgba(var(--menu-back), var(--hundred));
   }
   #profiles_show .profile-head:before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      z-index: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      height: 35%;
      background: linear-gradient(to bottom, rgba(41, 15, 15, 0) 0%, rgba(0, 0, 0, 0.25) 70%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.5) 94%, rgba(var(--menu-back), var(--hundred)) 99%, rgba(var(--menu-back), var(--hundred)) 100%);
   }
   #profiles_show .profile-head .c-brief header {
      text-align: left;
   }
   #profiles_show .profile-head .c-info .c-additionals {
      position: relative;
      width: 100%;
      text-align: left;
      font-size: 13px;
      height: 18px;
      background: none;
      overflow: visible;
      z-index: 15;
      text-shadow: 1px -1px 0px rgba(var(--nick-cover), 0.3), -1px 1px 0px rgba(var(--nick-cover), 0.3), -1px -1px 0px rgba(var(--nick-cover), 0.3), 1px 1px 0px rgba(var(--nick-cover), 0.3), 0px -1px 0px rgba(var(--nick-cover), 0.3),
         0px 1px 0px rgba(var(--nick-cover), 0.3), 1px 0px 0px rgba(var(--nick-cover), 0.3), -1px 0px 0px rgba(var(--nick-cover), 0.3);
   }
   #profiles_show .profile-head .c-info .c-additionals div a {
      font-size: 13px !important;
      color: rgba(var(--light-color), var(--hundred));
   }
   #profiles_show .profile-head .c-brief {
      position: relative;
      width: 100%;
      height: 30px;
      margin: 100vh 0 0 0;
      bottom: 0;
      z-index: 3;
   }
   #profiles_show .profile-head .c-brief .avatar {
      float: none !important;
   }
   #profiles_show .profile-head .c-brief .avatar img {
      margin-top: -200px;
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
   }
   #profiles_show .profile-content .cc-2.block .c-column.c-right .block {
      margin-top: 0px !important;
   }
   body#profiles_show .activity .b-nothing_here {
      min-height: 140px;
   }
   #profiles_show .profile-content .c-right .cc-2a > .c-column:last-child {
      height: 0px; max-width: 296px; transition: none;
   }
   #profiles_show .cc-2,
   #profiles_show.x1200 .c-right,
   #profiles_show.x1000 .c-right {
      position: static;
   }
   #profiles_show .profile-head .c-info {
      position: static;
      width: auto;
      right: 200px;
      overflow: visible;
   }
   #profiles_show .profile-actions .fav-remove::before,
   #profiles_show .profile-actions .ignore-remove::before {
      color: rgba(var(--hover-color), 0.65) !important;
   }
   #profiles_show .profile-actions .ignore-remove::before {
      font-size: 32px !important;
   }
   #profiles_show .l-footer {
      margin: 0 35px !important;
      right: 0;
      bottom: 7px;
      padding-bottom: 0;
      background: none;
   }
   #profiles_show .c-brief header.head .misc {
      position: absolute;
      padding: 0;
      width: 200px;
      top: -1.25rem;
      left: inherit;
      right: 0;
      text-align: center;
      line-height: 1;
      font-size: 13px !important;
      margin-right: 7%;
      transition: none;
   }
   * .c-brief header.head h1 {
      position: relative;
      right: -2px;
      font-size: 44px;
      line-height: 48px;
      pointer-events: none;
   }
   #profiles_show .profile-head {
      position: relative;
      width: 100%;
      height: 102vh;
      z-index: 2;
      padding: 15px 15px 0 15px;
      background-color: rgba(var(--menu-back), 0.8);
      overflow: hidden !important;
   }
   #profiles_show .profile-head::after {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center top;
      background-size: cover;
      pointer-events: none;
   }
   #profiles_show .b-stats_bar .stat_names {
      font-size: 12.5px;
   }
   #profiles_show .c-info .c-lists-info .b-stats_bar.manga {
      display: block;
      position: relative;
      margin: 0 !important;
      top: 0.35rem;
      width: 100%;
      height: 123.7px;
      margin-left: 0;
      margin-right: 0;
      padding: 7px 10px;
      clip-path: none !important;
      transform: none !important;
      background: rgba(var(--menu-back), 0.8);
      border-radius: 16px;
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
   }
   #profiles_show .c-info .c-lists-info .b-stats_bar.anime {
      position: relative;
      top: -0.5rem;
      margin: 0 !important;
      width: 100%;
      height: 123.7px;
      margin-left: 0;
      margin-right: 0;
      padding: 7px 12px;
      clip-path: none !important;
      transform: none !important;
      background: rgba(var(--menu-back), 0.8);
      border-radius: 16px;
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
   }
   #profiles_show .c-info .c-lists-info .b-stats_bar.anime:hover,
   #profiles_show .c-info .c-lists-info .b-stats_bar.manga:hover {
      box-shadow: none !important;
      background: rgba(var(--menu-back), 0.8);
      clip-path: none;
      transform: none;
   }
   #profiles_show .profile-actions {
      position: absolute;
      display: flex;
      justify-content: space-around;
      align-content: space-around;
      margin-right: 7%;
      right: 0;
      width: 200px;
      bottom: 5rem;
      z-index: 22;
   }
   #profiles_show .c-brief header .notice {
      line-height: 2;
      text-shadow: 1px -1px 0px rgba(var(--nick-cover), 0.3), -1px 1px 0px rgba(var(--nick-cover), 0.3), -1px -1px 0px rgba(var(--nick-cover), 0.3), 1px 1px 0px rgba(var(--nick-cover), 0.3), 0px -1px 0px rgba(var(--nick-cover), 0.3),
         0px 1px 0px rgba(var(--nick-cover), 0.3), 1px 0px 0px rgba(var(--nick-cover), 0.3), -1px 0px 0px rgba(var(--nick-cover), 0.3);
   }
   header.head .notice {
      font-size: 14.5px !important;
   }
   .profile-actions .mail::before,
   .profile-actions .talk::before,
   .profile-actions .fav-remove::before,
   .profile-actions .ban::before,
   .profile-actions .fav-add::before,
   .profile-actions .settings::before,
   .profile-actions .ignore-add::before,
   .profile-actions .ignore-remove::before {
      font-size: 36px !important;
      transition: 0s ease, -webkit-0s ease, transform 0.2s, ease color.2s;
      will-change: transform;
      width: 50px;
   }
   #profiles_show.x1200 .c-right,
   #profiles_show.x1000 .c-right {
      width: 100% !important;
      margin: 1rem 0 0 0;
   }
   #profiles_show .cc-2a > .c-column {
      width: 100%;
      max-width: 296px;
      transition: none;
      z-index: 50;
   }
   #profiles_show .cc-favourites .c-column {
      display: inline-block;
      width: 8.58%;
      float: none;
      margin: 6px !important;
      overflow: hidden;
      padding: 2px;
      border: 2px solid rgba(var(--block-color), 0.6);
   }
   #profiles_show .achievements .cc-achievements .b-achievement {
      width: 31.8%;
      margin-right: 1.5%;
      z-index: 3;
      box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
      background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.24) 100%);
      padding: 5px;
      left: 0.3rem;
      border-radius: 20px;
   }
   #profiles_show .cc-3 > .c-column {
      width: 50%;
      height: 100%;
      margin-right: 0;
      margin-bottom: 10px;
      float: left;
   }
   #profiles_show .b-topic {
      padding-left: 1%;
      padding-right: 1%;
   }
   #profiles_show .b-comment {
      padding-left: 0.5%;
      padding-right: 0.5%;
   }
   #profiles_show .b-comment img.b-poster,
   #profiles_show .b-comment .b-image.b-poster img {
      max-width: 1000px;
      width: 100%;
   }
   #profiles_show .subheadline,
   #profiles_show .b-comments .comments-loader {
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.4) !important;
   }
   #profiles_show .profile-head .c-brief .avatar .profile-actions a {
      margin: 0px;
      width: 50px;
      transition: none;
   }
   #profiles_show .cc-friends .b-user {
      margin: 1% 0.5% 1% 0.5% !important;
      z-index: 50;
   }
   #profiles_show .b-clubs.one-line .b-club {
      width: 17%;
      transition: 0.2s ease-out, -webkit-0.2s ease-out, margin 0s, padding 0s, width 0s, height 0s;
   }
}

@media screen and (min-width: 1290px) and (max-width: 1829px) {
   #profiles_show .profile-head .c-brief .avatar {
      margin: -9vh 0 0 5rem;
   }
   #profiles_show .profile-head .c-brief header {
      margin: -7rem 0 0 17rem !important;
   }
   #profiles_show .profile-head .c-info .c-additionals {
      width: 700px;
      margin: -3.3rem 0 2.8rem 17.1rem;
   }
   #profiles_show .profile-actions {
      bottom: 5rem;
   }
   #profiles_show .b-achievement.is-badge::before {
      font-size: 11px;
   }
}

@media screen and (min-width: 1530px) {
   #profiles_show .profile-head .c-brief .avatar {
      margin: -9vh 0 0 8rem;
   }
   #profiles_show .profile-head .c-brief header {
      margin: -7rem 0 0 20rem !important;
   }
   #profiles_show .profile-head .c-info .c-additionals {
      width: 700px;
      margin: -3.3rem 0 2.8rem 20.1rem;
   }
   #profiles_show .profile-actions {
      bottom: 5rem;
   }
}

@media screen and (min-width: 1830px) {
   #profiles_show .profile-head .c-brief .avatar {
      margin: -9vh 0 0 15rem;
   }
   #profiles_show .profile-head .c-brief header {
      margin: -7rem 0 0 27rem !important;
   }
   #profiles_show .profile-head .c-info .c-additionals {
      width: 700px;
      margin: -3.3rem 0 2.8rem 27.1rem;
   }
   #profiles_show .profile-actions {
      bottom: 5rem;
   }
   #profiles_show .b-achievement.is-badge::before {
      font-size: 13px;
   }
}

@media screen and (min-width: 1200px) and (max-width: 1290px) {
   #profiles_show .profile-head .c-brief .avatar {
      margin: -9vh 0 0 5rem;
   }
   #profiles_show .profile-head .c-brief header {
      margin: -7rem 0 0 16rem !important;
   }
   #profiles_show .profile-head .c-info .c-additionals {
      width: 700px;
      margin: -3.3rem 0 2.8rem 16.1rem;
   }
   #profiles_show .profile-actions {
      bottom: 5rem;
   }
   #profiles_show .b-achievement.is-badge::before {
      font-size: 10px;
   }
}

/* cosmo-library fix */
@media screen and (min-width: 1200px) {
   #profiles_show .Animes_Mangas .c-column {
      width: calc(100% / 5 - 1 * 1.01%) !important;
   }
}
@media screen and (min-width: 1480px) {
   #profiles_show .Animes_Mangas .c-column {
      width: calc(100% / 6 - 1 * 1.01%) !important;
   }
}

@media screen and (min-width: 1500px) {
   #profiles_show .Person-0 .c-column {
      width: calc(100% / 9) !important;
   }
}
@media screen and (min-width: 1678px) {
   #profiles_show .Person-0 .c-column {
      width: calc(100% / 10) !important;
   }
}
