@media (min-width: 1200px) {
   .p-profiles-show .b-club .logo {
      width: 100%;
   }
   .p-profiles .profile-head .c-brief .avatar img {
      border-radius: 50%;
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
      width: 180px;
      height: auto;
   }
   .p-profiles .profile-head {
      overflow: visible;
      margin: -15px 0px 10px;
      position: relative;
      height: 385px;
   }
   .x1000 > .l-page div .profile-head {
      height: 385px;
   }
   .p-profiles .profile-head .c-brief {
      margin-bottom: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 158px;
      padding: 0 15px;
   }
   .p-profiles .profile-head .c-brief .avatar {
      text-align: center;
      max-width: 100%;
      width: 100%;
      float: none !important;
      margin-top: -236px;
   }
   .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar {
      margin-bottom: 15px;
      background: transparent;
      border-radius: 5%;
      padding: 0px 10px 10px;
      vertical-align: middle;
      display: inline-block;
   }
   .p-profiles-show.x1200 .profile-content .c-left,
   .p-profiles-show.x1000 .profile-content .c-left {
      width: 49%;
   }
   .cc-2 > .c-column {
      margin-bottom: 30px;
      line-height: 1.65;
      box-sizing: border-box;
      float: left;
      margin-right: 2%;
      position: relative;
      width: 49%;
   }
   .p-profiles-show .lifetime {
      margin-bottom: 0px;
   }
   .p-profiles-show .profile-content .activity .title {
      display: none;
   }
   .cc-2.block {
      display: inline-block;
      width: 100%;
   }
   .profile-content > .cc-2 .c-column .cc-2a.m30 {
      min-height: 230px;
      position: absolute;
      top: 0;
      right: 25%;
      width: 24%;
      margin-top: -244px;
   }
   .c-column.c-right {
      width: 100%;
   }
   .cc-2 > .c-column > .block:last-child,
   .cc-2 > .c-column > .subcontent:last-child {
      margin-top: -10px;
   }
   .p-profiles-show.x1200 .profile-content .c-right,
   .p-profiles-show.x1000 .profile-content .c-right {
      width: 100% !important ;
   }
   .profile-content > .cc-2 .c-column .cc-2a.m30 {
      min-height: 230px;
      margin-left: -40px;
   }
   .cc-2a > .c-column {
      border-radius: 5%;
      padding: 0px 5px 5px;
   }
   .profile-content .cc-2 .c-column .cc-2a > .c-column {
      margin-bottom: 10px !important;
      float: none !important;
   }
   .p-profiles-show.x1200 .profile-content .c-right .cc-2a > .c-column,
   .p-profiles-show.x1000 .profile-content .c-right .cc-2a > .c-column {
      box-sizing: border-box;
      position: relative;
      width: 100%;
   }
   .p-profiles .profile-head .c-brief .avatar .profile-actions {
      position: absolute;
      bottom: 2px;
      right: 15px;
      z-index: 2;
   }
   .p-profiles .profile-head {
      background-image: none;
      background-color: transparent;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: none;
   }
   .profile-actions .mail,
   .profile-actions .talk,
   .profile-actions .fav-remove,
   .profile-actions .ban,
   .profile-actions .fav-add,
   .profile-actions .settings,
   .profile-actions .ignore-add,
   .profile-actions .ignore-remove {
      margin-left: 0;
      padding: 10px 10px 5px;
      border-radius: 3px;
      transition: 0.3s ease;
   }
   .profile-actions .mail:hover {
      color: rgba(var(--hover_color), 1);
   }
   .profile-actions .mail::before,
   .profile-actions .talk::before,
   .profile-actions .fav-remove::before,
   .profile-actions .ban::before,
   .profile-actions .fav-add::before,
   .profile-actions .settings::before .profile-actions .ignore-add::before,
   .profile-actions .ignore-remove::before {
      font-size: 20px;
   }
   .p-profiles .profile-head .c-brief header h1 {
      margin-top: -13px;
   }
   .b-stats_bar a.title,
   .b-stats_bar .title {
      line-height: 40px;
   }
   .b-stats_bar.manga .compatibility a:before,
   .b-stats_bar.anime .compatibility a:before,
   .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .compatibility .text.weak:before,
   .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .compatibility .text.zero:before,
   .b-stats_bar .compatibility .text.high:before,
   .b-stats_bar .compatibility .text.moderate:before,
   .b-stats_bar .compatibility .text.full:before {
      font-size: 24px;
      line-height: 40px;
   }
   /* Абсолютно позиционированный элемент нужно сначала растянуть на всю ширину */
   .p-profiles .profile-head .c-info .c-additionals {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 114px !important ;
      text-align: center;
      font-size: 12px;
   }
   .b-stats_bar .stat_names {
      font-size: 12px;
      height: 30px;
   }
   .p-profiles .profile-head .c-info .c-additionals div a {
      color: rgba(var(--light_color), 1) !important ;
      transition: 0.3s ease;
   }
   .p-profiles .profile-head .c-info .c-additionals,
   .p-profiles .profile-head .c-brief header .notice {
      text-shadow: 1px -1px 0px rgba(var(--nick-cover), 1), -1px 1px 0px rgba(var(--nick-cover), 1), -1px -1px 0px rgba(var(--nick-cover), 1), 1px 1px 0px rgba(var(--nick-cover), 1), 0px -1px 0px rgba(var(--nick-cover), 1),
         0px 1px 0px rgba(var(--nick-cover), 1), 1px 0px 0px rgba(var(--nick-cover), 1), -1px 0px 0px rgba(var(--nick-cover), 1);
   }
   .title .label {
      display: inline-flex;
      width: auto;
   }
   .b-stats_bar .title {
      display: flex;
      justify-content: center;
      flex-flow: row-reverse;
      line-height: 40px;
   }
   .c-lists-info .b-stats_bar .bar {
      display: none;
      overflow: visible;
   }
   .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar {
      background: none important;
   }
   .b-stats_bar .stat_names .stat_name,
   .b-stats_bar .stat_names .stat_name a {
      font-size: 0px;
   }
   .stat_name a::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      border-radius: 50%;
      z-index: 1;
   }
   .b-stats_bar .stat_names .stat_name .size {
      font-size: 18px;
   }
   .x1000 > .l-page div .profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name::after,
   .profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name::after {
      display: none;
   }
   .b-stats_bar.anime .stat_name[data-type="completed"] {
      left: 0px;
      top: 0px;
      background: #238022;
      border-radius: 50%;
      height: 90px;
      width: 90px;
      text-align: center;
      color: #daead9;
      border: 3px solid rgba(24, 53, 22, 0.28);
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2) !important;
      position: absolute;
      margin-left: -80px;
      z-index: 20;
      text-align: center;
      transition: 0.2s ease;
   }
   .b-stats_bar.anime .stat_name[data-type="watching,rewatching"] {
      left: 0px;
      top: 32px;
      position: absolute;
      line-height: 26px;
      margin-left: -241px;
      background: #4c30bd;
      color: #ded2f3;
      border-radius: 12px;
      width: 177px;
      height: 27px;
      padding-right: 14px;
      border: 3px solid rgba(61, 40, 105, 0.28);
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2) !important;
      text-align: center;
      z-index: 15;
      transition: 0.2s ease;
      line-height: 24px;
   }
   .b-stats_bar.anime .stat_name[data-type="planned"] {
      left: 0px;
      top: 9px;
      position: absolute;
      line-height: 42px;
      margin-left: -232px;
      background: #1948b5;
      color: #ded2f3;
      border-radius: 17px;
      width: 190px;
      height: 38px;
      padding-right: 23px;
      border: 3px solid rgba(40, 49, 105, 0.3);
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2) !important;
      text-align: center;
      z-index: 10;
      transition: 0.2s ease;
      line-height: 20px;
   }
   .b-stats_bar.anime .stat_name[data-type="on_hold"] {
      left: 0px;
      top: 48px;
      position: absolute;
      line-height: 42px;
      margin-left: -232px;
      background: #ab5d0b;
      color: #f3e9d2;
      border-radius: 17px;
      width: 190px;
      height: 33px;
      padding-right: 31px;
      border: 3px solid rgba(45, 33, 8, 0.28);
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2) !important;
      text-align: center;
      z-index: 10;
      transition: 0.2s ease;
      line-height: 25px;
   }
   .b-stats_bar.anime .stat_name[data-type="dropped"] {
      left: 0px;
      top: 0px;
      position: absolute;
      margin-left: -143px;
      margin-top: 45px;
      background: rgba(199, 45, 45, 0.8);
      color: #f3e9d2;
      border-radius: 50%;
      width: 114px;
      height: 60px;
      border: 3px solid rgba(45, 33, 8, 0.28);
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2) !important;
      text-align: center;
      z-index: 9;
   }
   .b-stats_bar.anime .stat_name[data-type="completed"] .size {
      font-size: 25px !important;
      line-height: 92px;
      color: #daead9;
      width: 100%;
   }
   .b-stats_bar.anime .stat_name[data-type="watching,rewatching"] .size {
      font-size: 15px !important;
      line-height: 20px;
      width: 48px;
      color: #ded2f3;
   }
   .b-stats_bar.anime .stat_name[data-type="planned"] .size {
      font-size: 14px !important;
      line-height: 22px;
      width: 45px;
      color: #ded2f3;
   }
   .b-stats_bar.anime .stat_name[data-type="on_hold"] .size {
      font-size: 14px !important;
      padding-top: 6px;
      width: 45px;
      color: #f3e9d2;
   }
   .b-stats_bar.anime .stat_name[data-type="dropped"] .size {
      font-size: 14px !important;
      padding-top: 33px;
      padding-right: 6px;
      width: 45px;
      color: #f3e9d2;
   }
   .b-stats_bar.anime .stat_name[data-type="completed"]:before {
      content: "Просмотрено";
      font-size: 8px;
      padding-right: 5px;
      opacity: 0.2;
      display: block;
      position: absolute;
      width: 100%;
      top: 16px;
      transition: 0.2s ease;
   }
   .b-stats_bar.anime .stat_name[data-type="watching,rewatching"]:before {
      content: "Смотрю";
      font-size: 13px;
      padding-right: 5px;
      opacity: 0.6;
      transition: 0.2s ease;
   }
   .b-stats_bar.anime .stat_name[data-type="planned"]:before {
      content: "В планах";
      font-size: 12px;
      padding-right: 5px;
      opacity: 0.6;
      transition: 0.2s ease;
   }
   .b-stats_bar.anime .stat_name[data-type="on_hold"]:before {
      content: "Отложено";
      font-size: 12px;
      padding-right: 5px;
      opacity: 0.6;
      transition: 0.2s ease;
   }
   .b-stats_bar.anime .stat_name[data-type="on_hold"]:after,
   .b-stats_bar.anime .stat_name[data-type="planned"]:after,
   .b-stats_bar.anime .stat_name[data-type="watching,rewatching"]:after,
   .b-stats_bar.anime .stat_name[data-type="dropped"]:after,
   .b-stats_bar.anime .stat_name[data-type="completed"]:after,
   .b-stats_bar.anime a.title:before {
      font: normal normal normal 14px/1 FontAwesome !important;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block !important;
   }
   .b-stats_bar.anime .stat_name[data-type="completed"]:after {
      content: "\f058" !important;
      font-size: 22px !important;
      padding: 0 0 0 3px !important;
      opacity: 0.3;
      display: block !important;
      margin-top: -33px;
      padding-right: 2px;
      transition: 0.2s ease;
      color: #daead9;
   }
   .b-stats_bar.anime .stat_name[data-type="watching,rewatching"]:after {
      content: "\f04b" !important;
      font-size: 14px;
      padding: 0 0 0 9px !important;
      opacity: 0.3;
      transition: 0.2s ease;
      color: #ded2f3;
   }
   .b-stats_bar.anime .stat_name[data-type="planned"]:after {
      content: "\f133" !important;
      font-size: 14px;
      padding: 0 0 0 6px !important;
      opacity: 0.3;
      transition: 0.2s ease;
      color: #ded2f3;
   }
   .b-stats_bar.anime .stat_name[data-type="on_hold"]:after {
      content: "\f04c" !important;
      font-size: 13px;
      padding: 0 0 0 7px !important;
      opacity: 0.3;
      transition: 0.2s ease;
      color: #f3e9d2;
   }
   .b-stats_bar.anime .stat_name[data-type="dropped"]:after {
      content: "\f1f8" !important;
      font-size: 15px;
      opacity: 0.3;
      transition: 0.2s ease;
      color: #f3e9d2;
   }
   .b-stats_bar.anime a.title,
   .b-stats_bar.anime .title {
      font-size: 0px;
   }
   .b-stats_bar.anime a.title:before {
      content: "\f008" !important;
      font-size: 20px !important;
      border: 3px solid rgba(30, 95, 17, 0.68);
      border-radius: 50%;
      background: rgba(58, 65, 72, 0.5);
      padding: 10px;
      color: rgba(224, 224, 224, 0.75);
      position: absolute;
      left: -7px;
      top: -11px;
      transition: 0.2s ease;
   }
   .b-stats_bar.anime .compatibility a:before {
      position: absolute;
      padding: 8px;
      background: rgba(59, 177, 1, 0.5);
      line-height: 18px;
      border-radius: 50%;
      color: #c0dcc4;
      opacity: 1;
      border: 3px solid rgba(30, 95, 17, 0.68);
      font-size: 19px;
      left: -3px !important;
      top: 54px;
   }
   .b-stats_bar.anime .compatibility .text.zero:before,
   .b-stats_bar.anime .compatibility .text.weak:before,
   .b-stats_bar.anime .compatibility .text.high:before,
   .b-stats_bar.anime .compatibility .text.moderate:before,
   .b-stats_bar.anime .compatibility .text.full:before {
      position: absolute;
      padding: 7px 1px;
      line-height: 18px !important;
      border-radius: 50%;
      opacity: 1;
      font-size: 31px !important;
      left: 0px !important;
      right: auto !important;
      top: 52px;
      opacity: 0.8;
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2) !important;
   }
   .b-stats_bar.anime .compatibility .rate {
      top: 94px;
      left: -14px;
      background: rgba(var(--menu-back), 0.7) !important;
      border-radius: 6px !important;
      width: 35px;
      text-align: center;
      color: #dbdee4 !important;
      font-size: 10px !important;
      font-weight: normal !important;
      opacity: 1 !important;
      border: 1px solid rgba(173, 173, 173, 0.2);
      height: 14px !important;
   }
   .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .compatibility .rate {
      margin-left: 0;
   }
   .b-stats_bar.anime .stat_name[data-type="planned"]:hover {
      color: #efecdb !important;
      border: 3px solid rgba(var(--hover-color), 0.7);
      background: #1250de;
   }
   .b-stats_bar.anime .stat_name[data-type="watching,rewatching"]:hover {
      color: #efecdb !important;
      border: 3px solid rgba(var(--hover-color), 0.7);
      background: #5a38e2;
   }
   .b-stats_bar.anime .stat_name[data-type="on_hold"]:hover {
      color: #efecdb !important;
      border: 3px solid rgba(var(--hover-color), 0.7);
      background: #c76c0c;
   }
   .b-stats_bar.anime .stat_name[data-type="dropped"]:hover {
      color: #efecdb !important;
      border: 3px solid rgba(var(--hover-color), 0.7);
      background: #d44444;
   }
   .b-stats_bar.anime .stat_name[data-type="completed"]:hover {
      color: #ffffff !important;
      border: 3px solid rgba(var(--hover-color), 0.7);
      background: #178e16;
   }
   .b-stats_bar.anime .stat_name[data-type="planned"]:hover:before,
   .b-stats_bar.anime .stat_name[data-type="on_hold"]:hover:before,
   .b-stats_bar.anime .stat_name[data-type="watching,rewatching"]:hover:before {
      opacity: 1;
   }
   .b-stats_bar.anime .stat_name[data-type="planned"]:hover:after,
   .b-stats_bar.anime .stat_name[data-type="on_hold"]:hover:after,
   .b-stats_bar.anime .stat_name[data-type="watching,rewatching"]:hover:after,
   .b-stats_bar.anime .stat_name[data-type="dropped"]:hover:after,
   .b-stats_bar.anime .stat_name[data-type="completed"]:hover:before,
   .b-stats_bar.anime .stat_name[data-type="completed"]:hover:after {
      opacity: 0.6;
   }
   .b-stats_bar.anime a.title:hover:before {
      border: 3px solid rgba(61, 175, 38, 0.72);
      color: rgba(234, 232, 232, 0.95);
      background: rgba(58, 65, 72, 0.6);
   }
   .b-stats_bar.anime .compatibility a:hover,
   .b-stats_bar.anime .text.full:hover,
   .b-stats_bar.anime .text.moderate:hover,
   .b-stats_bar.anime .text.high:hover,
   .text.weak:hover,
   .b-stats_bar.anime .text.zero:hover,
   .b-stats_bar.manga .compatibility a:hover,
   .b-stats_bar.anime .compatibility a:hover {
      transform: none !important;
   }
   .b-stats_bar.anime .compatibility a:hover:before {
      background: rgba(60, 181, 0, 0.65);
      color: #dbf5de;
      border: 3px solid rgba(61, 175, 38, 0.72);
   }
   .b-stats_bar.manga .stat_name[data-type="completed"] {
      right: 0px;
      top: 0px;
      background: #a92661;
      border-radius: 50%;
      height: 90px;
      width: 90px;
      text-align: center;
      color: #daead9;
      border: 3px solid rgba(24, 53, 22, 0.3);
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2) !important;
      position: absolute;
      margin-right: -80px;
      z-index: 20;
      text-align: center;
      transition: 0.2s ease;
   }
   .b-stats_bar.manga .stat_name[data-type="watching,rewatching"] {
      right: 0px;
      top: 32px;
      position: absolute;
      line-height: 26px;
      margin-right: -241px;
      background: #4c30bd;
      color: #ded2f3;
      border-radius: 12px;
      width: 177px;
      height: 27px;
      padding-left: 0px;
      border: 3px solid rgba(61, 40, 105, 0.3);
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2) !important;
      text-align: center;
      z-index: 15;
      transition: 0.2s ease;
      line-height: 25px;
   }
   .b-stats_bar.manga .stat_name[data-type="planned"] {
      right: 0px;
      top: 0px;
      position: absolute;
      line-height: 42px;
      margin-right: -232px;
      margin-top: 8px;
      background: #1948b5;
      color: #ded2f3;
      border-radius: 17px;
      width: 188px;
      height: 38px;
      padding-left: 17px;
      border: 3px solid rgba(40, 49, 105, 0.3);
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2) !important;
      text-align: center;
      z-index: 10;
      transition: 0.2s ease;
      line-height: 22px;
   }
   .b-stats_bar.manga .stat_name[data-type="on_hold"] {
      right: 0px;
      top: 48px;
      position: absolute;
      line-height: 42px;
      margin-right: -232px;
      background: #ab5d0b;
      color: #f3e9d2;
      border-radius: 17px;
      width: 185px;
      height: 33px;
      padding-left: 22px;
      border: 3px solid rgba(45, 33, 8, 0.3);
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2) !important;
      text-align: center;
      z-index: 10;
      transition: 0.2s ease;
      line-height: 25px;
   }
   .b-stats_bar.manga .stat_name[data-type="dropped"] {
      right: -145px;
      top: 45px;
      position: absolute;
      background: rgba(199, 45, 45, 0.8);
      color: #f3e9d2;
      border-radius: 50%;
      width: 114px;
      height: 60px;
      border: 3px solid rgba(45, 33, 8, 0.3);
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2) !important;
      text-align: center;
      z-index: 9;
      line-height: 26px;
   }
   .b-stats_bar.manga .stat_name[data-type="completed"] .size {
      font-size: 25px !important;
      line-height: 92px;
      color: #daead9;
      width: 100%;
   }
   .b-stats_bar.manga .stat_name[data-type="watching,rewatching"] .size {
      font-size: 15px !important;
      line-height: 22px;
      width: 48px;
      color: #ded2f3;
   }
   .b-stats_bar.manga .stat_name[data-type="planned"] .size {
      font-size: 14px !important;
      line-height: 22px;
      width: 45px;
      color: #ded2f3;
   }
   .b-stats_bar.manga .stat_name[data-type="on_hold"] .size {
      font-size: 14px !important;
      padding-top: 6px;
      width: 45px;
      color: #f3e9d2;
   }
   .b-stats_bar.manga .stat_name[data-type="dropped"] .size {
      font-size: 14px !important;
      padding-top: 33px;
      padding-left: 6px;
      width: 45px;
      color: #f3e9d2;
   }
   .b-stats_bar.manga .stat_name[data-type="watching,rewatching"]:after,
   .b-stats_bar.manga .stat_name[data-type="planned"]:after,
   .b-stats_bar.manga .stat_name[data-type="on_hold"]:after {
      display: inline-block !important;
   }
   .b-stats_bar.manga .stat_name[data-type="completed"]:before {
      content: "Прочитано" !important;
      font-size: 8px;
      opacity: 0.2;
      display: block;
      position: absolute;
      width: 100%;
      top: 16px;
      transition: 0.2s ease;
   }
   .b-stats_bar.manga .stat_name[data-type="watching,rewatching"]:after {
      content: "Читаю" !important;
      font-size: 13px;
      padding-left: 5px;
      opacity: 0.6;
      transition: 0.2s ease;
      color: #ded2f3;
   }
   .b-stats_bar.manga .stat_name[data-type="planned"]:after {
      content: "В планах" !important;
      font-size: 12px;
      padding-left: 5px;
      opacity: 0.6;
      transition: 0.2s ease;
      color: #ded2f3;
   }
   .b-stats_bar.manga .stat_name[data-type="on_hold"]:after {
      content: "Отложено" !important;
      font-size: 12px;
      padding-left: 5px;
      opacity: 0.6;
      transition: 0.2s ease;
      color: #f3e9d2;
   }
   .b-stats_bar.manga .stat_name[data-type="on_hold"]:before,
   .b-stats_bar.manga .stat_name[data-type="planned"]:before,
   .b-stats_bar.manga .stat_name[data-type="watching,rewatching"]:before,
   .b-stats_bar.manga .stat_name[data-type="dropped"]:before,
   .b-stats_bar.manga .stat_name[data-type="completed"]:after,
   .b-stats_bar.manga a.title:before {
      font: normal normal normal 14px/1 FontAwesome !important;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block !important;
   }
   .b-stats_bar.manga .stat_name[data-type="completed"]:after {
      content: "\f058" !important;
      font-size: 22px !important;
      padding: 0 0 0 1px !important;
      opacity: 0.3;
      margin-top: -33px;
      display: block !important;
      transition: 0.2s ease;
      color: #daead9;
   }
   .b-stats_bar.manga .stat_name[data-type="watching,rewatching"]:before {
      content: "\f02d" !important;
      font-size: 14px;
      padding: 0 9px 0 0 !important;
      opacity: 0.3;
      transition: 0.2s ease;
      color: #ded2f3;
   }
   .b-stats_bar.manga .stat_name[data-type="planned"]:before {
      content: "\f02e" !important;
      font-size: 14px;
      padding: 0 6px 0 0 !important;
      opacity: 0.3;
      transition: 0.2s ease;
      color: #ded2f3;
   }
   .b-stats_bar.manga .stat_name[data-type="on_hold"]:before {
      content: "\f017" !important;
      font-size: 13px;
      padding: 0 7px 0 0 !important;
      opacity: 0.3;
      transition: 0.2s ease;
      color: #f3e9d2;
   }
   .b-stats_bar.manga .stat_name[data-type="dropped"]:before {
      content: "\f1f8" !important;
      font-size: 15px;
      opacity: 0.3;
      transition: 0.2s ease;
      color: #f3e9d2;
   }
   .b-stats_bar.manga a.title,
   .b-stats_bar.manga .title {
      font-size: 0px;
   }
   .b-stats_bar.manga a.title:before {
      content: "\f187";
      font-size: 20px !important;
      border: 3px solid rgba(123, 22, 89, 0.7);
      border-radius: 50%;
      background: rgba(58, 65, 72, 0.5);
      padding: 10px;
      color: rgba(224, 224, 224, 0.75);
      position: absolute;
      right: -7px;
      top: -11px;
      transition: 0.2s ease;
   }
   .b-stats_bar.manga .compatibility a:before {
      position: absolute;
      padding: 8px;
      background: rgba(222, 44, 100, 0.5);
      line-height: 18px;
      border-radius: 50%;
      color: #dcc0d3;
      opacity: 1;
      border: 3px solid rgba(123, 22, 89, 0.7);
      font-size: 19px;
      right: -10px !important;
      left: auto !important;
      width: 20px;
      top: 54px;
   }
   .b-stats_bar.manga .compatibility .text.zero:before,
   .b-stats_bar.manga .compatibility .text.weak:before,
   .b-stats_bar.manga .compatibility .text.high:before,
   .b-stats_bar.manga .compatibility .text.moderate:before,
   .b-stats_bar.manga .compatibility .text.full:before {
      position: absolute;
      padding: 7px 1px;
      line-height: 18px !important;
      border-radius: 50%;
      opacity: 1;
      font-size: 31px !important;
      right: 0px !important;
      left: auto !important;
      top: 52px;
      opacity: 0.8;
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2) !important;
      margin-right: 0px !important;
   }
   .b-stats_bar.manga .compatibility a:hover,
   .b-stats_bar.manga .text.full:hover,
   .b-stats_bar.manga .text.moderate:hover,
   .b-stats_bar.manga .text.high:hover,
   .text.weak:hover,
   .b-stats_bar.manga .text.zero:hover,
   .b-stats_bar.manga .compatibility a:hover,
   .b-stats_bar.manga .compatibility a:hover {
      transform: none !important;
   }
   .b-stats_bar.manga .compatibility .rate {
      top: 94px;
      right: -14px;
      background: rgba(43, 42, 97, 0.7) !important;
      border-radius: 6px !important;
      width: 35px;
      text-align: center;
      color: #dbdee4 !important;
      font-size: 10px !important;
      font-weight: normal !important;
      opacity: 1 !important;
      border: 1px solid rgba(173, 173, 173, 0.2);
      height: 14px !important;
   }
   .b-stats_bar.manga .stat_name[data-type="planned"]:hover {
      color: #efecdb !important;
      border: 3px solid rgba(var(--hover-color), 0.7);
      background: #1250de;
   }
   .b-stats_bar.manga .stat_name[data-type="watching,rewatching"]:hover {
      color: #efecdb !important;
      border: 3px solid rgba(var(--hover-color), 0.7);
      background: #5a38e2;
   }
   .b-stats_bar.manga .stat_name[data-type="on_hold"]:hover {
      color: #efecdb !important;
      border: 3px solid rgba(var(--hover-color), 0.7);
      background: #c76c0c;
   }
   .b-stats_bar.manga .stat_name[data-type="dropped"]:hover {
      color: #efecdb !important;
      border: 3px solid rgba(var(--hover-color), 0.7);
      background: #e65d5d;
   }
   .b-stats_bar.manga .stat_name[data-type="completed"]:hover {
      color: #ffffff !important;
      border: 3px solid rgba(var(--hover-color), 0.7);
      background: #b51c61;
   }
   .b-stats_bar.manga .stat_name[data-type="planned"]:hover:after,
   .b-stats_bar.manga .stat_name[data-type="on_hold"]:hover:after,
   .b-stats_bar.manga .stat_name[data-type="watching,rewatching"]:hover:after {
      opacity: 1;
   }
   .b-stats_bar.manga .stat_name[data-type="planned"]:hover:before,
   .b-stats_bar.manga .stat_name[data-type="on_hold"]:hover:before,
   .b-stats_bar.manga .stat_name[data-type="watching,rewatching"]:hover:before,
   .b-stats_bar.manga .stat_name[data-type="dropped"]:hover:before,
   .b-stats_bar.manga .stat_name[data-type="completed"]:hover:before,
   .b-stats_bar.manga .stat_name[data-type="completed"]:hover:after {
      opacity: 0.6;
   }
   .b-stats_bar.manga a.title:hover:before {
      border: 3px solid rgba(187, 30, 133, 0.85);
      color: rgba(234, 232, 232, 0.941176);
      background: rgba(58, 65, 72, 0.6);
   }
   .b-stats_bar.manga .compatibility a:hover {
      transform: none !important;
   }
   .b-stats_bar.manga .compatibility a:hover:before {
      background: rgba(234, 12, 82, 0.6);
      color: #f3daeb;
      border: 3px solid rgba(187, 30, 133, 0.85);
   }
   .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar.anime,
   .x1000 > .l-page div .profile-head .c-info .c-lists-info .b-stats_bar.anime,
   .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar.manga,
   .x1000 > .l-page div .profile-head .c-info .c-lists-info .b-stats_bar.manga {
      opacity: 0.2;
      transition: 0.3s all;
   }
   .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar.anime:hover,
   .x1000 > .l-page div .profile-head .c-info .c-lists-info .b-stats_bar.anime:hover,
   .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar.manga:hover,
   .x1000 > .l-page div .profile-head .c-info .c-lists-info .b-stats_bar.manga:hover {
      opacity: 1;
   }
   .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar.anime {
      width: 0px;
      padding: 0;
   }
   .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar.manga {
      width: 0px;
      padding: 0;
   }
   .b-stats_bar.anime .title:before,
   .b-stats_bar.manga .title:before {
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
   .b-stats_bar.anime .title:before {
      content: "\f008";
      font-size: 20px !important;
      border: 3px solid rgba(82, 82, 82, 0.7);
      border-radius: 50%;
      background: rgba(58, 65, 72, 0.5);
      padding: 10px;
      color: rgba(224, 224, 224, 0.75);
      position: absolute;
      left: -7px;
      top: -11px;
      transition: 0.2s ease;
      z-index: -5;
   }
   .b-stats_bar.manga .title:before {
      content: "\f187";
      font-size: 20px;
      border: 3px solid rgba(82, 82, 82, 0.7);
      border-radius: 50%;
      background: rgba(58, 65, 72, 0.5);
      padding: 10px;
      color: rgba(224, 224, 224, 0.75);
      position: absolute;
      right: -7px;
      top: -11px;
      transition: 0.2s ease;
      z-index: -5;
   }
   .cc-2.block .headline > a,
   .cc-2.block .subheadline > a,
   .cc-2.block .subheadline,
   .block.achievements .subheadline,
   .block.achievements .subheadline > a {
      justify-content: center;
   }
   .p-profiles-show .lifetime {
      margin-bottom: 0px;
   }
   .p-profiles-show .profile-content .activity .title {
      display: none;
   }
   body#profiles_show .profile-head {
      top: -554px;
      height: 554px;
   }
   body#profiles_show .profile-head:before {
      content: "";
      width: calc(100% + 100px);
      height: 100%;
      position: absolute;
      right: -50px;
      top: 0px;
      border-radius: 18px;
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
   }
   body#profiles_show .l-page {
      margin-top: 660px;
   }
   body#profiles_show .profile-content {
      margin-top: -551px;
   }
   .p-profiles .profile-head .c-history,
   .p-profiles .profile-head .c-history.x2,
   .p-profiles .profile-head .c-history.x3 {
      display: flex;
      position: absolute;
      align-items: center;
      flex-flow: row-reverse;
      justify-content: center;
      top: -71px;
      width: 100%;
      right: 0px;
      margin: 0px;
      height: 62px;
      background: rgba(var(--menu-back), 0.3);
      padding: 4px 6px;
      border-radius: 14px;
      box-sizing: content-box;
   }
   .profile-head .subheadline.m13 {
      position: absolute;
      right: 4px;
      top: 4px;
      display: inline-flex;
      padding: 0px;
      font-size: 0;
      margin: 0px !important;
      height: calc(100% - 8px);
      width: 40px;
      background: rgba(var(--block-color), 0.3);
      color: rgba(var(--dark-color), 0.5);
   }
   .profile-head .c-history.x1 .subheadline.m13 {
      right: 4px;
   }
   .profile-head .c-history.x2 .subheadline.m13 {
      right: 200px;
   }
   .profile-head .c-history.x3 .subheadline.m13 {
      right: 4px;
   }
   .c-history > div {
      width: 100%;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
   }
   .p-profiles .profile-head .c-history > div > .entry .title {
      padding-top: 3px;
   }
   .p-profiles .profile-head .c-history > div > .entry {
      border-radius: 10px;
   }
   .p-profiles .profile-head .c-history > div > .entry,
   .p-profiles .profile-head .c-history.x3 > div > .entry {
      display: inline-block;
      width: 366px;
      min-width: 366px;
      margin: 0 1% 0 0px;
   }
   .p-profiles .profile-head .c-history > div > .entry:last-child {
      margin-right: calc(30px + 1%);
      box-sizing: content-box;
   }
   #profiles_show .subheadline.m13 > a {
      padding: 0px;
      font-size: 0px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   #profiles_show.subheadline.m13 > a:hover {
      color: rgba(var(--hover-color), var(--hundred)) !important;
      background: none;
      box-shadow: none !important;
      border: none !important;
      font-size: 0px;
   }
   #profiles_show .subheadline.m13 > a:before {
      display: none;
   }
   #profiles_show .subheadline.m13 > a:after {
      content: "\f187";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 24px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      background: rgba(var(--dark-color), 0.15);
   }
   #profiles_show .subheadline.m13:after {
      content: "\f187";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 24px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      /* background: rgba(var(--dark-color), 0.15); */
      position: Absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1;
   }
   .profile-content > .cc-2 .c-column .cc-2a.m30 {
      min-height: 230px;
      margin-left: -40px;
      width: 100%;
      right: 0px;
   }
   .profile-content .c-right .cc-2a .c-column.m0:first-child {
      position: absolute;
      width: 18%;
      right: 0px;
      margin: 0px;
      padding: 0px;
      text-align: center;
   }
   .b-clubs.one-line {
      display: inline-flex;
      vertical-align: top;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-content: space-around;
      min-height: 190px;
      top: 0px;
      width: 100%;
      padding: 0px 0px 0px 0px;
   }
   .profile-content .b-club .logo {
      margin: 0px;
      width: 92%;
   }
   .b-clubs.one-line .b-club,
   .b-clubs.one-line .b-club:last-child {
      float: none;
      width: 32%;
      margin: auto 10px !important;
   }
   .profile-content .c-right .cc-2a .c-column.m0:nth-child(2n) {
      position: absolute;
      width: 18%;
      left: 0px;
      margin: 0px;
      padding: 0px;
      text-align: center;
   }
   .profile-content .c-right .cc-2a .c-column.m0 .subheadline a {
      padding-right: 0px;
   }
   .p-profiles-show.x1200 .profile-content .c-left,
   .p-profiles-show.x1000 .profile-content .c-left {
      width: 60%;
      left: 20%;
      margin-right: 0px;
      z-index: 2;
   }
   .p-profiles-show.x1200 .profile-content .c-right,
   .p-profiles-show.x1000 .profile-content .c-right {
      z-index: 1;
      margin-top: 18px;
   }
   .profile-content > .cc-2 .c-column .cc-2a.m30 .cc-friends {
      display: inline-flex;
      vertical-align: top;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      align-content: space-around;
      min-height: 190px;
      top: 0px;
      width: 100%;
      padding: 0px;
   }
   .p-profiles-show .cc-friends .b-user,
   .p-profiles-show .cc-friends .b-user:last-child {
      width: 21%;
      margin: auto 1% !important;
   }
   .cc-friends .avatar img {
      width: 42px;
   }
  
   * .c-brief header.head h1 {
      font-size: 38px;
      line-height: 45px;
   }
   .p-profiles .profile-head .c-brief header {
      margin-top: -17px !important;
      text-align: center;
      padding-top: 14px;
   }
   .p-profiles .profile-head .c-info .c-lists-info,
   .x1000 > .l-page div .profile-head .c-info .c-lists-info {
      width: 28%;
      z-index: 2;
      margin: 202px auto auto !important;
      height: 110px;
      transform: scale(1);
   }
   .p-profiles .cc-2a .c-column.m0 .subheadline {
      margin-bottom: 0px !important;
   }
   .p-profiles-show .profile-content .graph {
      height: 124px;
   }

   .p-profiles-show .lifetime .title .value {
      padding-left: 35px;
   }
   .p-profiles .profile-head .c-brief header.head .misc {
      top: auto;
      bottom: 4px;
      left: 0;
      width: 100%;
   }
   .p-profiles .profile-head .c-brief header.head .misc span {
      background: rgba(var(--block-color), 0.7);
      padding: 4.4px 13px;
      border-radius: 15px 15px 0 0;
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2) !important;
   }
   body#profiles_show .activity .b-nothing_here {
      line-height: 123px !important;
   }
}
