@media screen and (min-width: 1200px) {
  #profiles_show .b-clubs {
    flex-wrap: unset;
    min-height: 70px;
    transition: none;
  }
  #profiles_show .c-history .entry {
    margin-bottom: 0.5rem !important;
  }
  #profiles_show .l-top_menu-v2 {
    position: fixed;
    width: 100vw;
    z-index: 25;
    opacity: 0.5;
    transition: 0s all, background 1s, opacity 1s, box-shadow 1s;
  }
  #profiles_show .l-top_menu-v2:hover {
    opacity: 1;
    transition: 0s all, background 0.5s, opacity 0.5s, box-shadow 0.5s;
  }
  body#profiles_show .l-page > div {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  #profiles_show.x1200 .l-page,
  #profiles_show .l-page {
    min-width: 100%;
    margin: auto;
    padding: 0 !important;
    box-shadow: inset 0 0 20px 2px rgba(var(--menu-back), 0.8) !important;
    border-radius: 0;
  }
  #profiles_show .lifetime {
    padding: 0 0.3125rem 0;
    margin-bottom: 1.5625rem;
  }
  #profiles_show .c-left,
  #profiles_show.x1200 .c-column.c-left,
  #profiles_show .cc-2 .c-column .cc-2a.m30,
  #profiles_show .c-history,
  #profiles_show .c-history.x2,
  #profiles_show .c-history.x3,
  #profiles_show.x1000 > .l-page div .c-history.x2,
  #profiles_show.x1000 > .l-page div .c-history.x3,
  #profiles_show .c-info .c-lists-info,
  #profiles_show.x1000 > .l-page div .c-info .c-lists-info {
    position: absolute;
    height: 265px;
    min-height: 265px;
    padding: 10px 12px;
    z-index: 11;
    top: 0;
    left: 0;
    transition: 0s ease-in-out, top 0.8s ease-in-out;
    margin: 0 0 0 0 !important;
    float: none !important;
    border-radius: 16px;
    background: rgba(var(--menu-back), 0.8);
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  }
  #profiles_show .c-left:hover,
  #profiles_show.x1200 .c-column.c-left:hover,
  #profiles_show .cc-2 .c-column .cc-2a.m30:hover,
  #profiles_show .c-history:hover,
  #profiles_show .c-history.x2:hover,
  #profiles_show .c-history.x3:hover,
  #profiles_show.x1000 > .l-page div .c-history:hover,
  #profiles_show.x1000 > .l-page div .c-history.x2:hover,
  #profiles_show.x1000 > .l-page div .c-history.x3:hover,
  #profiles_show .c-info .c-lists-info:hover,
  #profiles_show.x1000 > .l-page div .c-info .c-lists-info:hover {
    top: 4.5rem;
    z-index: 15;
  }
  #profiles_show .c-left,
  #profiles_show.x1200 .c-column.c-left {
    width: 550px !important;
    max-width: 550px;
    left: 26rem;
    top: -18rem;
  }
  #profiles_show .cc-2 .c-column .cc-2a.m30 {
    left: 33rem;
    top: -18rem;
    width: 320px;
  }
  #profiles_show .c-history,
  #profiles_show .c-history.x2,
  #profiles_show .c-history.x3,
  #profiles_show.x1000 > .l-page div .c-history.x2,
  #profiles_show.x1000 > .l-page div .c-history.x3 {
    width: 320px;
    max-width: 320px;
    top: -18rem;
    left: 41.095rem;
  }
  #profiles_show .c-info .c-lists-info,
  #profiles_show.x1000 > .l-page div .c-info .c-lists-info {
    left: 47.484rem;
    top: -18rem;
    width: calc(80% - 44.2%);
    max-width: 550px;
    text-align: center;
    background: none !important;
    box-shadow: none !important;
  }
  #profiles_show .c-column.c-left::before,
  #profiles_show .cc-2 .c-column .cc-2a.m30::before,
  #profiles_show .c-history::before,
  #profiles_show .c-info .c-lists-info::before {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
    text-shadow: 0 1px 2px #000000;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.24);
    top: auto;
    left: 1rem;
    bottom: -6rem;
    height: 28px;
    padding: 0;
    opacity: 0.6;
    line-height: 2;
    font-size: 13px;
    color: #fff;
    z-index: 15;
    transition: 0.4s ease-in-out, margin 0s, padding 0s,line-height 0s;
  }
  #profiles_show .c-column.c-left::before {
    width: 110px;
    content: "Активность";
    border-bottom-left-radius: 0.5rem;
  }
  #profiles_show .cc-2 .c-column .cc-2a.m30::before {
    width: 128px;
    content: "Друзья и Клубы";
  }
  #profiles_show .c-history::before {
    width: 100px;
    content: "История";
  }
  #profiles_show .c-info .c-lists-info::before {
    width: 128px;
    content: "Аниме & Манга";
    border-bottom-right-radius: 7px;
  }
  #profiles_show .c-column.c-left:hover::before,
  #profiles_show .cc-2 .c-column .cc-2a.m30:hover:before,
  #profiles_show .c-history:hover:before,
  #profiles_show .c-info .c-lists-info:hover:before {
    bottom: -1.7rem;
    z-index: 16;
  }
  #profiles_show .c-column.c-left::after,
  #profiles_show .cc-2 .c-column .cc-2a.m30::after,
  #profiles_show .c-history:after,
  #profiles_show .c-info .c-lists-info::after {
    position: absolute;
    display: block;
    content: "";
    height: 26rem;
    background: none;
    top: -2rem;
    z-index: 15;
    transition: 0.8s ease-in-out, margin 0s, padding 0s, line-height 0s;
  }
  #profiles_show .c-column.c-left:hover::after,
  #profiles_show .cc-2 .c-column .cc-2a.m30:hover::after,
  #profiles_show .c-history:hover::after,
  #profiles_show .c-info .c-lists-info:hover::after {
    height: 2.3rem;
    transition: 1s ease-in-out, margin 0s, padding 0s, line-height 0s;
    z-index: 16;
  }
  #profiles_show .c-column.c-left::after {
    left: auto;
    width: 114px;
  }
  #profiles_show .cc-2 .c-column .cc-2a.m30::after {
    left: 1rem;
    width: 128px;
  }
  #profiles_show .c-history::after {
    width: 100px;
    left: 1rem;
  }
  #profiles_show .c-info .c-lists-info::after {
    width: 132px;
    left: 1rem;
  }
  body#profiles_show .cc-favourites .b-catalog_entry:hover {
    box-shadow: -20px 20px 0 -17px rgba(62, 62, 62, 0.85), 20px -20px 0 -17px #383838, 20px 20px 0 -20px rgba(0, 0, 0, 0.8), 0 0 0 2px rgba(0, 0, 0, 0.8);
  }
  #profiles_show .profile-content .about.block {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    z-index: 9;
  }
  #profiles_show .profile-content .block {
    display: inline-block;
    width: 100%;
    margin: 0;
    z-index: 8;
  }
  body#profiles_show .profile-content .cc-2.block {
    margin-bottom: 0;
  }
  #profiles_show .profile-content .c-column.c-right .block {
    display: inline-block;
    width: calc(100% - 0px);
  }
  #profiles_show .profile-content {
    overflow: visible;
    width: 100%;
    right: auto;
    margin: 0 auto 0 auto !important;
    float: none;
    padding: 0 15px 0 15px;
    box-shadow: inset 0 37px 29px -18px rgba(var(--menu-back), var(--hundred));
  }
  #profiles_show .profile-head:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 4;
    height: 35%;
    background: linear-gradient(to bottom, rgba(41, 15, 15, 0) 0%, rgba(0, 0, 0, 0.25) 70%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.5) 94%, rgba(var(--menu-back), var(--hundred)) 99%, rgba(var(--menu-back), var(--hundred)) 100%);
    pointer-events: none;
  }
  #profiles_show .profile-head .c-brief header {
    pointer-events: auto;
    margin: 0;
    z-index: 4;
  }
#profiles_show .profile-head .c-info .c-additionals {
    display: inline-flex;
    position: relative;
    overflow: visible;
    margin: 0;
    width: 100%;
    height: 100%;
    margin-left: 21rem;
    align-items: center;
    font-size: 13px;
    background: none;
    z-index: 15;
    text-shadow: 1px -1px 0 rgba(var(--nick-cover), 0.3),
    -1px 1px 0 rgba(var(--nick-cover), 0.3),
    -1px -1px 0 rgba(var(--nick-cover), 0.3),
    1px 1px 0 rgba(var(--nick-cover), 0.3),
    0 -1px 0 rgba(var(--nick-cover), 0.3),
    0 1px 0 rgba(var(--nick-cover), 0.3),
    1px 0 0 rgba(var(--nick-cover), 0.3),
    -1px 0 0 rgba(var(--nick-cover), 0.3);
}
  #profiles_show .profile-head .c-info .c-additionals div a {
    font-size: 13px !important;
    color: rgba(var(--light-color), var(--hundred));
  }
  #profiles_show .profile-head .c-brief {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -11.5vh;
    padding-left: 10rem;
    align-items: flex-end;
    transition: none;
    pointer-events: none;
  }
  #profiles_show .profile-head .c-brief .avatar {
    width: 160px;
    height: 160px;
    float: none;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem -2rem 0;
  }
  #profiles_show .profile-head .c-brief .avatar img {
    width: 160px;
    height: 160px;
    pointer-events: none;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  }
  #profiles_show .profile-content .cc-2.block .c-column.c-right .block {
    right: 0 !important;
    margin-top: 0 !important;
  }
  body#profiles_show .activity .b-nothing_here {
    min-height: 140px;
  }
  #profiles_show .profile-content .c-right .cc-2a > .c-column:last-child {
    height: 0;
    max-width: 296px;
    transition: none;
  }
  #profiles_show .cc-2,
  #profiles_show.x1200 .c-right,
  #profiles_show.x1000 .c-right {
    position: static;
  }
  #profiles_show .profile-head .c-info {
    position: static;
    overflow: visible;
    width: auto; 
  }
  #profiles_show .profile-actions .fav-remove::before,
  #profiles_show .profile-actions .ignore-remove::before {
    color: rgba(var(--hover-color), 0.65) !important;
  }
  #profiles_show .profile-actions .ignore-remove::before {
    font-size: 32px !important;
  }
  #profiles_show .l-footer {
    margin: 0 35px !important;
    right: 0;
    bottom: 7px;
    padding-bottom: 0;
    background: none;
  }
  #profiles_show .c-brief header.head .misc {
    position: absolute;
    padding: 0;
    width: 200px;
    top: auto;
    bottom: -0.5rem;
    left: inherit;
    right: 0;
    text-align: center;
    line-height: 1;
    font-size: 13px !important;
    margin-right: 7%;
    transition: none;
    pointer-events: auto;
  }
  * .c-brief header.head h1 {
    position: relative;
    right: -2px;
    font-size: 44px;
    line-height: 48px;
    pointer-events: none;
  }
  #profiles_show .profile-head {
    position: relative;
    width: 100%;
    height: 102vh;
    padding: 0;
    background-color: rgba(var(--menu-back), 0.8);
    overflow: hidden;
  }
  #profiles_show .profile-head::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    pointer-events: none;
    image-rendering: -webkit-optimize-contrast;
  }
  #profiles_show .b-stats_bar .stat_names {
    font-size: 12.5px;
  }
  #profiles_show .c-info .c-lists-info .b-stats_bar.manga {
    display: block;
    position: relative;
    margin: 0 !important;
    top: 0.35rem;
    width: 100%;
    height: 123.7px;
    padding: 7px 10px;
    clip-path: none !important;
    transform: none !important;
    background: rgba(var(--menu-back), 0.8);
    border-radius: 16px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  }
  #profiles_show .c-info .c-lists-info .b-stats_bar.anime {
    position: relative;
    top: -0.5rem;
    margin: 0 !important;
    width: 100%;
    height: 123.7px;
    padding: 7px 12px;
    clip-path: none !important;
    transform: none !important;
    background: rgba(var(--menu-back), 0.8);
    border-radius: 16px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  }
  #profiles_show .c-info .c-lists-info .b-stats_bar.anime:hover,
  #profiles_show .c-info .c-lists-info .b-stats_bar.manga:hover {
    box-shadow: none !important;
    background: rgba(var(--menu-back), 0.8);
    clip-path: none;
    transform: none;
  }
  #profiles_show .profile-head .c-info .c-lists-info .b-stats_bar .compatibility .rate {
    margin-left: -2.555rem;
  }
  #profiles_show .profile-actions {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    margin: 0;
    right: 7%;
    bottom: 2.5rem;
    width: 200px;
    z-index: 22;
    pointer-events: auto;
  }
  #profiles_show .c-brief header .notice {
    line-height: 2;
    text-shadow: 1px -1px 0 rgba(var(--nick-cover), 0.3), -1px 1px 0 rgba(var(--nick-cover), 0.3), -1px -1px 0 rgba(var(--nick-cover), 0.3), 1px 1px 0 rgba(var(--nick-cover), 0.3), 0 -1px 0 rgba(var(--nick-cover), 0.3),
      0 1px 0 rgba(var(--nick-cover), 0.3), 1px 0 0 rgba(var(--nick-cover), 0.3), -1px 0 0 rgba(var(--nick-cover), 0.3);
  }
  header.head .notice {
    font-size: 14.5px !important;
  }
  .profile-actions .mail::before,
  .profile-actions .talk::before,
  .profile-actions .fav-remove::before,
  .profile-actions .ban::before,
  .profile-actions .fav-add::before,
  .profile-actions .settings::before,
  .profile-actions .ignore-add::before,
  .profile-actions .ignore-remove::before {
    font-size: 36px !important;
    transition: 0s ease, -webkit-0s ease, transform 0.2s, ease color.2s;
    will-change: transform;
    width: 50px;
  }
 .profile-actions .mail:hover::before,
 .profile-actions .talk:hover::before,
 .profile-actions .fav-remove:hover::before,
 .profile-actions .ban:hover::before,
 .profile-actions .fav-add:hover::before,
 .profile-actions .settings:hover::before,
 .profile-actions .ignore-add:hover::before,
 .profile-actions .ignore-remove:hover::before {
    transform: translateY(-0.5rem);
  }
  #profiles_show.x1200 .c-right,
  #profiles_show.x1000 .c-right {
    width: 100% !important;
    margin: 1rem 0 0 0;
  }
  #profiles_show .cc-2a > .c-column {
    width: 100%;
    max-width: 296px;
    transition: none;
    z-index: 50;
  }
  #profiles_show .cc-favourites .c-column {
    display: inline-block;
    width: 8.58%;
    float: none;
    margin: 6px !important;
    overflow: hidden;
    padding: 2px;
    border: 2px solid rgba(var(--block-color), 0.6);
  }
  #profiles_show .achievements .cc-achievements .b-achievement {
    width: 31.8%;
    margin-right: 1.5%;
    z-index: 3;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.24) 100%);
    padding: 5px;
    left: 0.3rem;
    border-radius: 20px;
  }
  #profiles_show .cc-3 > .c-column {
    width: 50%;
    height: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    float: left;
  }
  #profiles_show .b-topic {
    padding-left: 1%;
    padding-right: 1%;
  }
  #profiles_show .b-comment {
    padding-left: 0.5%;
    padding-right: 0.5%;
  }
  #profiles_show .b-comment img.b-poster,
  #profiles_show .b-comment .b-image.b-poster img {
    max-width: 1000px;
    width: 100%;
  }
  #profiles_show .subheadline,
  #profiles_show .b-comments .comments-loader {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.4) !important;
  }
  #profiles_show .profile-head .c-brief .avatar .profile-actions a {
    margin: 0;
    width: 50px;
    padding-top: 0.5rem;
    transition: none;
  }
  #profiles_show .cc-friends .b-user {
    margin: 1% 0.5% 1% 0.5% !important;
    z-index: 50;
  }
  #profiles_show .b-clubs.one-line .b-club {
    width: 17%;
    transition: none;
  }
  .b-achievement .c-image .inner a img,
.b-achievement .c-image .inner a .no-image,
.cc-franchises .b-badge img,
.cc-franchises .b-badge .no-image,
body.p-achievements.p-profiles.p-profiles .b-achievement img,
body.p-achievements.p-profiles.p-profiles .b-badge img {
    image-rendering: -webkit-optimize-contrast;
  }
}
/*.about .b-catalog_entry,
  .about .b-catalog_entry:last-child {*/

/*Over*/
@media screen and (min-width: 1200px) {
  .about .b-catalog_entry,
  .about .b-catalog_entry:last-child {
    width: calc(100% / 9) !important;
  }
  .about .cover:hover {
    box-shadow: -20px 20px 0 -17px #3e3e3ed9, 20px -20px 0 -17px #383838, 20px 20px 0 -20px #000000cc, 0 0 0 2px #000000cc !important;
  }
}
@media screen and (min-width: 1450px) {
   .about .b-catalog_entry,
  .about .b-catalog_entry:last-child {
    width: calc(100% / 10) !important;
  }
}
@media screen and (min-width: 1650px) {
   .about .b-catalog_entry,
  .about .b-catalog_entry:last-child {
    width: calc(100% / 11) !important;
  }
}
@media screen and (min-width: 1900px) {
   .about .b-catalog_entry,
  .about .b-catalog_entry:last-child {
    width: calc(100% / 12) !important;
  }
}





/*------*/
@media screen and (min-width: 1500px) {
  .about .Razmer-v2-row-0 .Animes_Mangas .b-catalog_entry,
  .about .Razmer-v2-row-0 .Animes_Mangas .b-catalog_entry:last-child {
    width: calc(100% / 5) !important;
  }
}
 /*------*/
@media screen and (min-width: 1200px) {
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry,
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry:last-child {
    width: calc(100% / 8) !important;
  }
}
@media screen and (min-width: 1500px) {
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry,
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry:last-child {
    width: calc(100% / 9) !important;
  }
}

@media screen and (min-width: 1900px) {
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry,
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry:last-child {
    width: calc(100% / 10) !important;
  }
}
/*------*/

@media screen and (min-width: 1300px) {
  .Ssylki-anime-v-1-standard {
    width: calc(100% / 8 - 1 * 1%);
  }
}
@media screen and (min-width: 1450px) {
  .Ssylki-anime-v-1-standard {
    width: calc(100% / 8 - 1 * 1%);
  }
}
@media screen and (min-width: 1600px) {
  .Ssylki-anime-v-1-standard {
    width: calc(100% / 9 - 1 * 1%);
    margin: 5px 0.37% 3.5rem 0.37%;
  }
}
/*------*/

@media screen and (min-width: 1400px) {
  .Ssylki-anime-v-1 {
    width: calc(100% / 5 - 1 * 1%);
  }
}
@media screen and (min-width: 1600px) {
  .Ssylki-anime-v-1 {
    margin: 5px 0.37% 3.5rem 0.37%;
  }
}
/*------*/

@media screen and (min-width: 1600px) {
  .Ssylki-anime {
    width: calc(100% / 5);
  }
}



/*------*/
@media screen and (min-width: 1300px) {
    .Anime-v-0-1 {
        width: calc(100% / 9 - 1 * 1%);
    }
}
@media screen and (min-width: 1450px) {
    .Anime-v-0-1 {
        width: calc(100% / 10 - 1 * 1%);
    }
}
@media screen and (min-width: 1600px) {
    .Anime-v-0-1 {
        width: calc(100% / 11 - 1 * 1%);
        margin: 5px 0.37% 3.5rem 0.37%;
    }
}
@media screen and (min-width: 1900px) {
    .Anime-v-0-1 {
        width: calc(100% / 12 - 1 * 1%);
        margin: 5px 0.37% 3.5rem 0.37%;
    }
}
/*------*/
