@media screen and (min-width: 1200px) {
    #profiles_show .profile-head {
       background: none!important;
   }
    #profiles_show .profile-head::before,
    #profiles_show .profile-head::after {
      background: none!important;
   }
    body#profiles_show.x1200 .l-page,
    body#profiles_show .l-page {
       background: none !important;
       box-shadow: none !important;
       z-index: 2;
   }
    body#profiles_show .l-page > div {
       overflow: visible !important;
   }
    #profiles_show .profile-content {
        width: 1200px!important;
        border-radius: 1rem;
        background-color: rgba(var(--menu-back), 0.8);
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3) !important;
    }
    #profiles_show .l-footer {
        margin: 0 auto !important;
        max-width: 1180px !important;
    }
    body#profiles_show .l-footer {
        bottom: 1.3rem !important;
        z-index: 8;
    }
    body#profiles_show .b-shiki_editor footer {
        padding: 0 0 1.25rem 0 !important;
    }
    #profiles_show .profile-head .c-brief .avatar img { /* test */
        pointer-events: none;
    } 
}




/*Over*/
@media screen and (min-width: 1200px) {
   .about .b-catalog_entry,
   .about .b-catalog_entry:last-child {
    width: calc(100% / 8) !important;
  }
}
@media screen and (min-width: 1200px) {
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry,
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry:last-child {
    width: calc(100% / 7) !important;
  }
}
@media screen and (min-width: 1300px) {
  .Ssylki-anime-v-1-standard {
    width: calc(100% / 7 - 1 * 1%);
  }
}
@media screen and (min-width: 1400px) {
  .Ssylki-anime-v-1 {
    width: calc(100% / 4 - 1 * 1%);
  }
}

@media screen and (min-width: 1450px) {
   .about .b-catalog_entry,
   .about .b-catalog_entry:last-child {
    width: calc(100% / 8) !important;
  }
}
@media screen and (min-width: 1450px) {
  .Ssylki-anime-v-1-standard {
    width: calc(100% / 7 - 1 * 1%);
  }
}

/*------*/
@media screen and (min-width: 1500px) {
  .about .Razmer-v2-row-0 .Animes_Mangas .b-catalog_entry,
  .about .Razmer-v2-row-0 .Animes_Mangas .b-catalog_entry:last-child {
    width: calc(100% / 4) !important;
  }
}
/*------*/

@media screen and (min-width: 1500px) {
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry,
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry:last-child {
    width: calc(100% / 7) !important;
  }
}

@media screen and (min-width: 1600px) {
  .Ssylki-anime-v-1-standard {
    width: calc(100% / 7 - 1 * 1%);
    margin: 5px 0.37% 3.5rem 0.37%;
  }
}
/*------*/

@media screen and (min-width: 1600px) {
  .Ssylki-anime-v-1 {
    margin: 5px 0.37% 3.5rem 0.37%;
  }
}
/*------*/

@media screen and (min-width: 1600px) {
  .Ssylki-anime {
    width: calc(100% / 4);
  }
}

@media screen and (min-width: 1650px) {
  .about .b-catalog_entry,
  .about .b-catalog_entry:last-child {
    width: calc(100% / 8) !important;
  }
}
@media screen and (min-width: 1900px) {
  .about .b-catalog_entry,
  .about .b-catalog_entry:last-child {
    width: calc(100% / 8) !important;
  }
}

@media screen and (min-width: 1900px) {
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry,
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry:last-child {
    width: calc(100% / 7) !important;
  }
}
/*------*/





/*------*/
@media screen and (min-width: 1300px) {
    .Anime-v-0-1 {
        width: calc(100% / 8 - 1 * 1%);
    }
}
@media screen and (min-width: 1450px) {
    .Anime-v-0-1 {
        width: calc(100% / 8 - 1 * 1%);
    }
}
@media screen and (min-width: 1600px) {
    .Anime-v-0-1 {
        width: calc(100% / 8 - 1 * 1%);
    }
}
@media screen and (min-width: 1900px) {
    .Anime-v-0-1 {
        width: calc(100% / 8 - 1 * 1%);
    }
}
/*------*/
