@media screen and (min-width: 1200px) {
    #profiles_show .profile-head {
       background-image: none!important;
   }
    #profiles_show .profile-head::before {
       background: none!important;
   }
    body#profiles_show.x1200 .l-page,
    body#profiles_show .l-page {
       background: none !important;
       box-shadow: none !important;
       z-index: 2;
   }
    body#profiles_show .l-page > div {
       overflow: visible !important;
   }
    #profiles_show .profile-content {
        width: 1200px!important;
        border-radius: 1rem;
        background-color: rgba(var(--menu-back), 0.8);
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3) !important;
    }
    #profiles_show .l-footer {
        margin: 0 auto !important;
        max-width: 1180px !important;
    }
    body#profiles_show .l-footer {
        bottom: 1.3rem !important;
        z-index: 8;
    }
    body#profiles_show .b-shiki_editor footer {
        padding: 0 0 1.25rem 0 !important;
    }
   
}
