@media screen and (min-width: 768px) {
.l-top_menu-v2 .menu-dropdown.main .submenu {
  width: 135%;
}
.l-top_menu-v2 .menu-dropdown.main .submenu>a {
    display: inline-flex;
   justify-content: center;
   flex-wrap: wrap;
    width: calc(33% - 2px);
  height: auto;
    margin: 1px;
    padding: 0 0 7px;
    font-size: 10px;
    line-height: 13px;
    white-space: pre-line;
    word-break: break-word;
  text-align: center;
    border-radius: 14px;
    
   
   
    
}
.l-top_menu-v2 .menu-dropdown.main  .submenu>a:before {
    width: 100%;
    font-size: 22px;
    line-height: 44px;
}
.l-top_menu-v2 .menu-dropdown.main .submenu>a.icon-anime:before, .l-top_menu-v2 .menu-dropdown.main .submenu>a.icon-manga:before, .l-top_menu-v2 .menu-dropdown.main .submenu>a.icon-ranobe:before {
   
    font-size: 14px;
    line-height: 44px;
}
}
