.pre-over .menik, .pre-over-2 .menik {
    background: none;
    box-shadow: none;
}
.over {
    position: absolute;
}
.over-panels {
   display: inline-flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   align-content: space-around;
}

.over.over-main {
    bottom: 0;
    height: 200px;
    width: 100%;
}
.over.avaimg {
    bottom: 20px;
    left: 80px;
}
.over.textwhite, .over.textlight {
    left: 210px;
}
.over.textwhite.s1 {
    bottom: 69px;
    height: 24px;
    width: 100px;
    border: 3px solid;
    border-radius: 7px;
}
.over.textlight {
    border: 1px solid;
    height: 5px;
    margin-left: 3px;
}
.over.textlight.s2 {
    bottom: 53px;
    width: 330px;
}
.over.textlight.s3 {
    bottom: 40px;
}
.over.textlight.s4 {
    bottom: 40px;
    margin-left: 68px;
    width: 204px;
}
.over.over-actions {
    bottom: 65px;
    right: 85px;
}
.over.over-actions .flexik {
    width: 125px;
    height: auto;
}
.over.over-actions .flexik .actik {
    width: 22px;
    height: 22px;
}
.over.texthover {
    bottom: 48px;
    right: 105px;
    width: 85px;
}


.paneli {
    height: 14px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    border-radius: 5px;
    opacity: 0.5;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);
}
.paneli .textwhite {
    height: 4px;
    width: 49px;
    margin: 0 8px;
}
.over.over-panels {
    top: 38px;
    left: 208px;
}

.pre-over-2 .paneli:first-child {
    top: 177px;
    position: absolute;
    left: 0;
}
.pre-over-2 .paneli:nth-child(2) {
    margin-left: 65px;
}
.frendclubz {
    position: absolute;
    display: inline-flex;
    flex-flow: wrap;
    align-content: flex-start;
    height: 161px;
    width: 149px;
    top: 54px;
    left: 210px;
    padding: 6px;
    border-radius: 13px;
}
.frendclubz .flexik {
    height: 50px;
    margin: 4px 0;
}